@*Define view model controller for category*@
@*To read database and initialize corresponding View content*@
@model List<Category>
@{
    @*To view this page go https://localhost:7274/category/index*@
    ViewData["Title"] = "Category List";
}
<div class ="card shadow border-0 mt-4">
    <div class ="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="text-center">
                <h2 class="text-white py-2">@ViewData["Title"]</h2>
            </div>     
        </div>    
    </div>
    @* <div class="col-10 text-end">
        <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> New Category
        </a>
    </div> *@
</div>

<div class="card-body mt-4">
    <div class="form-floating">
        <table class="table table-striped">
            <tr>
                <th class="  align-middle">
                    Id
                </th>
                <th class=" text-center align-middle">
                    Category Name
                </th>
                <th class="  text-center align-middle">
                    Display Order
                </th>
                <th class=" text-center align-middle">
                    <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> New Category
                    </a>
                </th>

            </tr>
            <tbody>
    </div>
        
    </div>
    
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td class="border align-middle fw-bold">@obj.Id</td>
                    <td class="border text-center align-middle">@obj.Name</td>
                    <td class="border text-center align-middle">@obj.DisplayOrder pcs</td>
                    <td class="text-center">
                        <div class="w-75 btn-group align-middle" role="group">
                            <a asp-controller="Category" asp-action="EditCategory" asp-route-Id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="DeleteCategory" asp-route-Id="@obj.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


